$breakpoint-one: 540px;
$breakpoint-two: 680px;
$square-width-small: 295px;
$square-width-medium: 150px;

body {
  font-family: 'Inconsolata', monospace;
  font-size: 60px;
}

#container {
  margin: auto;
  margin-top: 40px;
  width: 95%;

  @media screen and (min-device-width: $breakpoint-one) {
    font-size: 40px;
    width: 80%;
  }

  @media screen and (min-device-width: $breakpoint-two) {
    width: 50%;
  }

  a {
    color: #E94C6F;
    text-decoration: none;
    transition: color 0.1s;

    &:hover {
      color:  #542733;
    }
  }

  ol, ul {
    padding-left: 30px;
  }

  .game-board {
    margin-bottom: 20px;
    margin-right: 30px;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .status {
    margin-bottom: 10px;
  }

  .square {
    background: #fff;
    border: 1px solid #ccc;
    float: left;
    font-size: 100px;
    line-height: $square-width-small;
    height: $square-width-small;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: $square-width-small;
    transition: background 0.1s;

    &:hover {
      background: #f9f9f9;
    }

    @media screen and (min-device-width: $breakpoint-one) {
      line-height: $square-width-medium;
      height: $square-width-medium;
      width: $square-width-medium;
      font-size: 80px;
    }

    @media screen and (min-device-width: $breakpoint-two) {
      // background-color: blue;
    }
  }

  .square:focus {
    outline: none;
  }

  .game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .game-info {
    margin: auto;
    margin-top: 30px;
    width: 50%;

    li {
      list-style-position: inside;
    }
  }

}
